@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  background-color: #fafbff;
  background: linear-gradient(to right, #eeeeee, #d1d1d1);
  width: 100%;
}

img, video, a {
  user-select: none;
}

/* navbar */

nav {
  background: #1b1b1b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  user-select: none;
}

nav:after {
  content: '';
  clear: both;
  display: table;
}

nav .logo {
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}

nav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
  text-align: center;
}

nav ul li a {
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  transition: .3s ease;
}

nav ul li a:hover {
  color: #d3bd41;
  border-radius: 5px;
  box-shadow: 0 0 5px #fde86ff8,
    0 0 10px #ffed89f8;
}

nav ul ul li a:hover {
  box-shadow: none;
}

nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid #d3bd41;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
}


.fa-solid:hover {
  color: #e4c200f8;  
}

nav ul ul ul {
  border-top: none;

}

nav ul li:hover>ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
  line-height: 50px;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}

.icon,
input {
  display: none;
}


.show {
  display: none;
}

@media all and (max-width: 968px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }

  nav .logo {
    padding-left: 30px;
    width: 100%;
  }

  .show+a,
  ul {
    display: none;
  }

  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul li a:hover {
    box-shadow: none;
  }

  .show {
    display: flex;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
    text-align: center;
  }

  .show:hover {
    color: #e4c200f8;
  }

  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }

  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul a {
    padding-left: 40px;
  }

  nav ul ul ul a {
    padding-left: 80px;
  }

  nav ul ul ul li {
    position: static;
  }

  [id^=btn]:checked+ul {
    display: block;
  }

  nav ul ul li {
    border-bottom: 0px;
  }

  span.cancel:before {
    content: '\f00d';
  }
}

.navbarheader {
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}

.navbar p {
  font-size: 30px;
  font-weight: 500;
}

.logo img {
  width: 15vh;
  margin-top: 2vh;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* fin navbar */

.banner_gibson {
  display: flex;
  background-position: center left;
  background-size: cover;
}

.banner_gibson img {
  max-width: 100%;
  box-shadow: #1b1b1b 0px 0px 20px;
}

.content {
  margin-top: 13vh;
  margin-bottom: 10vh;
}

.Acercade {
  margin-left: 35vh;
  margin-right: 35vh;
  text-align: center;
}

.Acercade img {
  max-width: 50vh;
  transition: all .5s ease;
}

.Acercade img:hover {
  max-width: 55vh;
  box-shadow: #1b1b1b 5px 5px 10px;

}

.Categorias {
  margin-top: 50px;
  margin-left: 35vh;
  margin-right: 35vh;
  text-align: center;
}

.Categorias img {
  max-width: 50vh;
}

.Guitarras section, .Acusticas section, 
.Bajos section, .Amplificadores section {
  display: flex;
  justify-content: space-around;
  margin-left: -25vh;
  margin-right: -25vh;
}

.Texto_Guitarras p, .Texto_Bajos p,
.Texto_Acusticas p, .Texto_Amplificadores p{
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-left: 6%;
  margin-right: 6%;
}

.Imagenes_Guitarras img, .Imagenes_Bajos img,
.Imagenes_Acusticas img, .Imagenes_Amplificadores img {
  max-width: 30vh;
  border: solid #1b1b1b;
  margin-top: 15px;
  border-radius: 7%;
}

.Texto_Bajos p {
  margin-left: 5%;
  margin-right: 6%;
}

.Texto_Acusticas p {
  margin-left: 5%;
  margin-right: 5%;
}

/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #1b1b1b;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
  height: 170px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #202020;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #3b3b3b;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: azure;
	border: 1px solid rgb(148, 132, 42);
	border-radius: 8px;
	transition: all 0.4s ease;
	margin-bottom: 5px;
	background: #94842a;
}
.card .contenido-card a:hover{
	background: #64591c;
  border: 1px solid #64591c;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin-Cards*/

.Pie  {
  margin-top: 10vh;
  background-color: #1b1b1b;
  color: azure;
  text-align: center;
  padding: 10px;
  margin-bottom: -10vh;
}

.Pie p {
  font-size: small;
  margin-top: 5px;
}

.redes-sociales i{
  margin: 15px;
  margin-top: 30px ;
}

/* articulo */

.Articulo, .ArticuloExtras {
  margin: 25vh;
}

.Articulo h1{
  font-size: 7vh;
  margin-bottom: 2vh;
}

.Articulo h1, .ArticuloExtras h2 {
  text-align: center;
}

.ArticuloExtras {
  margin-top: -20vh;
}
.Articulo img, .ArticuloExtras img, .ArticuloExtras video{
  width: 100%;
  object-fit: cover;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.txtArticulo, .txtArticuloExtras {
  margin-right : 10vh;
  margin-left : 10vh;
}


/* fin articulo */

